<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/assets/bootstrap/css/mdb.min.css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
    <link rel="shortcut icon" href="/images/whatsapp2logo.png" />
    <title>Registrate</title>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-md py-3" style="background: #0d1818">
      <div class="container">
        <img src="/images/whatsapp2logo.png" height="50" alt="image-nav" />
        <a
          class="navbar-brand d-flex align-items-center"
          href="#"
          style="height: 40px"
        >
          <span>&nbsp Whatsapp 2</span>
        </a>
        <div class="collapse navbar-collapse" id="navcol-5"></div>
      </div>
    </nav>

    <main>
      <div class="container py-xl-5">
        <form action="#" class="card">
          <div class="card-body">
          <div class="input-group">
            <label for="username" class="card-title">Ingresa tu nombre de usuario</label>
            <input type="text" class="form-check w-100 rounded-1" name="username" id="username" />
          </div>

          <div class="button-container container py-xl-3 pt-xl-4">
            <button type="button" id="login" class="btn btn-primary w-100 rounded-5">
              Ingresar
            </button>
          </div>
          </div>
        </form>
      </div>
    </main>

    <footer class="text-center py-4" style="background: #0d1818">
      <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 justify-content-between">
          <div class="col">
            <p class="text-light my-2">Whatsapp 2</p>
          </div>
          <div class="col">
            <p class="text-light my-2">
              García Gómez Jaret Xchel y Gómez Herrera Axel 5IV7
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/bootstrap/js/sweetalert2.all.min.js"></script>
    <script src="/assets/bootstrap/js/mdb.min.js"></script>
    <script src="/js/register.js"></script>
  </body>
</html>
